* {
  margin: 0px;
  padding: 0px;
}

#dropbox {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 1px dashed black;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 800;
  text-align: center;
  margin: 10px;
}

.loaded {
  cursor: crosshair;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

h1,
form,
.main_contents {
  margin: 10px;
}

form > button {
  padding: 2px;
}

.main_contents {
  position: relative;
}

.canvas_zoom {
  position: absolute;
  border-radius: 10px;
}

.canvas_zoom_pos {
  left: 10px;
  top: var(--canvas-height);
}
.canvas_zoom_pos_alt {
  left: var(--canvas-width);
  top: var(--canvas-height);
}

.active {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.file-input {
  margin-right: 100px;
}

.author {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
  margin: 10px;

  color: rgba(0, 0, 0, 0.5);
}
